# Replace the values below with my actual Azure IoT Hub Primary Connection Strings

DOWS_LAKE_CS="HostName=iot-hub-name.azure-devices.net;DeviceId=DowsLake;SharedAccessKey=primary_key_here="
FIFTH_AVENUE_CS="HostName=iot-hub-name.azure-devices.net;DeviceId=FifthAvenue;SharedAccessKey=primary_key_here="
NAC_CS="HostName=ot-hub-name.azure-devices.net;DeviceId=NAC;SharedAccessKey=primary_key_here="